a {
    text-decoration: none;
}
ul {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}
img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
    object-fit: cover;
}
*,*:before,*:after{box-sizing:border-box;}


//數字
.font-paytone {
    font-family: 'Paytone One', sans-serif;
  } 
//英文
.font-squada {
font-family: 'Squada One';
}