.border-lg-start {
  @include media-breakpoint-up(lg) {
    border-left: 1px solid $black;
  }
}
.border-lg-0 {
  @include media-breakpoint-up(lg) {
    border: 0;
  }
}
.border-md-top {
  @include media-breakpoint-up(lg) {
    border-top: 1px solid $black;
  }
}
.border-lg-bottom {
  @include media-breakpoint-up(lg) {
    border-bottom: 1px solid #000;
  }
}
.border-10 {
  border-width: 10px !important;
}