//客製 Btn
.btn-triangle {
    position: relative;
    &::after {
      content:"";
      position: absolute;
      right: 0;
      bottom: 0;
      border-left: 16px transparent solid;
      border-bottom: 16px $primary solid;
    }
    &:hover::after {
      border-bottom: 16px solid $black;
    }
  }
  .hover-color-white {
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
  .hover-border-black {
    &:hover {
      background-color: $primary;
      color: $white;
      border: 1px solid $black;
    }
  }
  .btn-triangle-black {
    position: relative;
    &::after {
      content:"";
      position: absolute;
      right: 0;
      bottom: 0;
      border-left: 16px transparent solid;
      border-bottom: 16px $black solid;
    }
  }
  .btn-triangle-primary {
    position: relative;
    &::after {
      content:"";
      position: absolute;
      right: 0;
      bottom: 0;
      border-left: 16px transparent solid;
      border-bottom: 16px $primary solid;
    }
  }
  .btn-triangle-black-top {
    position: relative;
    &::before {
      content:"";
      position: absolute;
      left: 0;
      top: 0;
      border-right: 24px transparent solid;
      border-top: 24px $black solid;
    }
    &::after {
      content:"";
      position: absolute;
      right: 0;
      top: 0;
      border-left: 24px transparent solid;
      border-top: 24px $black solid;
    }
  }
  .hover-color-black {
    &:hover {
      background-color: $primary !important;
      color: $white;
      border: 1px solid $white !important;
    }
  }

  .btn-hover-choose {
    position: relative;
    &:hover {
      border: 1px solid $primary !important;
      &::after {
        content: "✓";
        position: absolute;
        right: 8%;
        bottom: 30%;
        color: $primary !important;
      }
    }
  }
  