.hover-bigger {
    &:hover {
        transform: scale(1.2);
    }
}
.hover-fadeout {
    &:hover {
        opacity: 0.5;
        color: $secondary;
        font-weight: bold;
    }
}
.hover-color-warning {
    &:hover {
        color: $warning;
    }
}
.hover-color-primary {
    &:hover {
        color: $primary;
    }
}
.hover-color-gradient-custom {
    &:hover {
        @include gradient-y;
        background-clip: text;
        color: transparent;
    }
}

.hover-border-primary {
    @media (min-width: 768px) {
        &:hover {
            border: 2px solid $primary;
        }
    }
}
.hover-color-border-primary {
    &:hover {
        color: $primary;
        border: 1px solid $primary;
        background: transparent;
    }
}


//邊框的正方形圓形
.squareRounded {
    display: none;
    width: 32px;
    height: 32px;
    &-topLeft {
      border-top: 2px solid $primary;
      border-left: 2px solid $primary;
      border-top-left-radius: 10px;
    }
    &-topRight {
      border-top: 2px solid $primary;
      border-right: 2px solid $primary;
      border-top-right-radius: 10px;
    }
    &-bottomLeft {
      border-bottom: 2px solid $primary;
      border-left: 2px solid $primary;
      border-bottom-left-radius: 10px;
    }
    &-bottomRight {
      border-bottom: 2px solid $primary;
      border-right: 2px solid $primary;
      border-bottom-right-radius: 10px;
    }
  }
  .hover-border-squareRounded {
    @media (min-width: 768px) {
        &:hover {
            .squareRounded {
              display: block;
            }
        }
    }
  }

